!!!
%html(data-ng-app='smsExporter')
  %script(src='../node_modules/angular/angular.min.js')
  %script(src='scripts/app.js')
  %script(src='scripts/controllers/backups-controller.js')
  %link(rel='stylesheet' href='stylesheets/application.css')
  %head
    %title SMS Exporter
  %body(data-ng-controller='backupsController')
    %button(data-ng-click='getCurrentBackup()') Find SMS database
    #current_backup Current backup folder: {{currentBackup}}